/* Reset default browser spacing */
body{
    margin: 0;
    font-family: Times New Roman,
Times, serif;
    background-color: lightblue;
}

/* Header */
header {
    backgroung-color: #022658;
    color:white;
    padding: 20 px;
    text-align: center;
}

/* Navigation */
nav{
    background-color: #1974d2;
    padding: 10 px;
    text-align: center;
}

nav a: hover {
              text-decoration: underline;
}

/* Main Content */
main {
    padding: 20 px;
}

/* Sections */
section {
    background-color: lightblur;
    padding: 15 px;
    margin-bottom: 20 px;
    border-radius: 5 px;
}

/* Services */
services {
    border: 1 px solid #ccc;
    padding: 10 px;
    border-radius: 5 px;
}

/Footer/
footer {
    background-color: #;
    text-align: center
    padding: 20px
    width: 100%
}



